body {
    text-align: center;
    font-family: Arial;
  }
  
  video, canvas {
    width: 90%;
    max-width: 400px;
    margin-top: 10px;
    border: 2px solid black;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
  }